
div#logoBottom {
  position: absolute;
  bottom: -0.2em;
  left: -0.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.7;

  img {
    height: 1.0em;
    margin: 0 0.1em 0.2em 0;
  }

  p {
    font-family: "Picon", sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    color: white;
    margin: 0;
  }
}

img#apple {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 200px;
}

.framework {
  background-color: #46AF6D;
}

.reveal .slides section .fragment.fade-out-disappear {
    opacity: 1;
    visibility: inherit;
}

.reveal .slides section .fragment.fade-out-disappear.visible {
    opacity: 0;
    visibility: hidden;
    font-size: 0;
    display: inline-block;
    height: 0px;
}

.reveal .slides section .fragment.fade-in-appear {
  font-size: 0;
  display: inline-block;
  height: 0;
}

.reveal .slides section .fragment.fade-in-appear.visible {
  font-size: inherit;
  vertical-align: inherit;
}

div.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  img.logo-img {
    display: block;
    height: 4em;
    padding: 0 0.3em 1.2em 0;
    margin: 0;
  }

  h1 {
    font-weight: 300;
    font-size: 2em;
    margin: -20px 0 0;
    text-align: left;
    text-transform: none;
    color: white;
  }

  h2 {
    font-weight: 300;
    color: white;
    opacity: 0.8;
    font-size: 1em;
    margin-top: -0.45em;
    text-align: left;
    padding-left: 2px;
    text-transform: none;

    img {
      width: 0.65em;
      height: 0.65em;
      margin: 0;
    }
  }
}
